# ignore cpp executables
userinterface 
test 
filegenerator 
mariosbst
evansmap 
objectinterface 
userinterface

# ignore cpp object code
*.o

# ignore generated .txt files
*.txt

# include the makefile & readme
!makefile
!readme.txt

# misc include
!output.txt
!test.txt

# ignore ds_store files
.DS_Store