# ignore cpp executables
userinterface
compare
filegenerator
mariosbst
evansmap
objectinterface
userinterface

# ignore cpp object code
*.o

# ignore generated .txt files
*.txt

# include the makefile & readme
!makefile

# ignore ds_store files
.DS_Store